{% extends "base.html" %}

{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if show_my_tasks.count %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>start date</th>
                            <th>due date</th>
                            <th>is_completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for tasks in show_my_tasks %}
                                <td>{{ tasks.name }}</td>
                                <td>{{ tasks.start_date }}</td>
                                <td>{{ tasks.due_date }}</td>
                                <td>{{ tasks.is_completed|yesno:"yeah, no" }}</td>
                            {% endfor %}
                        </tr>
                    {% else %}
                        <p>You have no tasks</p>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
