{% extends "base.html" %}

{% block content %}
    <main>
        <div>
            <h1>{{ show_project.name }}</h1>
            <p>{{ show_project.description }}</p>
            <h2>Tasks</h2>
            <p>
                <a href="{% url "create_task" %}">Create a new task</a>
            </p>
            {% if show_project.tasks.all|length > 0 %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for projects in show_project.tasks.all %}
                                <td>{{ projects.name }}</td>
                                <td>{{ projects.assignee }}</td>
                                <td>{{ projects.start_date }}</td>
                                <td>{{ projects.due_date }}</td>
                                <td>{{ projects.is_completed|yesno:"yeah, no" }}</td>
                            {% endfor %}
                        </tr>
                    {% else %}
                        <p>This project has no tasks</p>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
