{% extends "base.html" %}

{% block content %}
    <main>
        <div>
            <h1>My Projects</h1>
            <p>
                <p>
                    <a href="{% url "create_project" %}">{{ projects.name }}</a>
                </p>
            </p>
            {% if projects_list is not created %}
                <p>You are not assigned to any projects</p>
            {% else %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                        </tr>
                    </thead>
                {% endif %}
                <tbody>
                    {% for projects in projects_list %}
                        <tr>
                            <td>
                                <a href="{% url "show_project" projects.id %}">{{ projects.name }}</a>
                            </td>
                            <td>{{ projects.tasks.all|length }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
